#about .card-layout {
  @apply px-6 py-8;
}

.card-stack-content {
  @apply flex flex-col md:flex-row gap-4 items-center;
}

.tech-marquee {
  @apply pt-8 shrink-0 relative w-full overflow-hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 12%,
    rgba(0, 0, 0, 1) 88%,
    rgba(0, 0, 0, 0)
  );
}

.tech-marquee-track {
  @apply grid grid-rows-3 grid-cols-16 grid-flow-col w-293.5 gap-2.5 px-2.5;
  animation: marquee-animation 10s linear infinite;
  animation-play-state: running;
}

.tech-marquee-track:hover {
  animation-play-state: paused;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-49.4%);
  }
}