@import "tailwindcss";
@import "../components/header/header.css";
@import "../components/about/about.css";
@import "../components/projects/projects.css";

:root {
  --background: #f5f6f7;
  --foreground: hsl(210, 11%, 15%);
  --darker: #070808;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darker: var(--darker);
  --font-sans: var(--font-inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility base-card-layout {
  border: 1px solid hsla(210, 11%, 15%, 0.15);
  background-color: white;
}

.card-layout {
  @apply base-card-layout rounded-2xl;
}

.card-layout-rounded {
  @apply base-card-layout rounded-full;
}

.title-node {
  @apply text-foreground/60 px-4 text-base/10;
}
