@import "tailwindcss";
@import "../components/header/header.css";
@import "../components/about/about.css";
@import "../components/projects/projects.css";

:root {
  --background: hsl(210, 11%, 96%);
  --foreground: hsl(210, 11%, 15%);
  --accent: hsl(180, 7%, 3%);
  --card-background: white;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
  --background: hsl(0, 0%, 10%);
  --foreground: hsl(210, 11%, 96%);
  --accent: white;
  --card-background: hsl(210, 11%, 15%);
}

[data-theme="light"] {
  --background: hsl(210, 11%, 96%);
  --foreground: hsl(210, 11%, 15%);
  --accent: hsl(180, 7%, 3%);
  --card-background: white;
}

#github-svg {
  @apply dark:fill-amber-50!;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-background: var(--card-background);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  white-space: pre-line;
}

.card-layout {
  @apply bg-card-background rounded-2xl border border-foreground/15;
}

.card-layout-rounded {
  @apply bg-card-background rounded-full border border-foreground/15;
}

.title-node {
  @apply text-foreground/60 px-4 text-base/10;
}
