header {
  @apply flex justify-center md:justify-between items-center px-3 md:px-10 py-3.5 md:py-7 fixed top-0 left-0 right-0 z-20 w-full;
}

nav {
  @apply flex border border-foreground/15 rounded-full px-3.5 bg-white;
}

nav a {
  @apply text-xs md:text-base px-3 md:px-3.5 py-2.5 md:py-3 hover:bg-foreground/5 rounded-full font-semibold text-foreground/60;
}

.left-side {
  @apply hidden md:flex gap-5 items-center;
}

.theme-btn {
  @apply rounded-full hover:bg-black/5 p-2 hover:backdrop-blur-md;
}

.language-options {
  @apply flex rounded-full overflow-hidden text-center h-11 text-base/10.5;
}

.language-options a {
  @apply px-3.5 bg-background text-foreground h-full contain-paint border border-foreground;
}

.language-options a.active {
  @apply text-background bg-foreground border border-foreground;
}
